@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&family=Plus+Jakarta+Sans:wght@400;500;600;700&display=swap');

/* CSS Custom untuk memastikan background berubah saat dark mode */
/* @layer base {
  body {
    @apply bg-gray-50 text-gray-900 dark:bg-dark-bg dark:text-white transition-colors duration-300;
  }
} */


/* Apply font */
body {
  font-family: 'Plus Jakarta Sans', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Outfit', sans-serif;
}