@import "tailwindcss";

/* CSS Custom untuk memastikan background berubah saat dark mode */
@layer base {
  body {
    @apply bg-gray-50 text-gray-900 dark:bg-dark-bg dark:text-white transition-colors duration-300;
  }
}